body {
    background-image: url('https://th.bing.com/th/id/R.2557bf415b23d855c6691f8443a8198f?rik=Z6tux%2bw4YtQOkA&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

